body{
    width: 100%;
    background-image: url("slide2.jpg") ;
    overflow-x: hidden;
}
.form{
    margin: 8% auto;
    width: 420px;
    height: 600px;
    border-radius: 16px;
    background-color: white;
}
.head{
    height: 80px;
    border-radius: 16px 16px 0px 0px;
    background-color: black;
}
.body{
    width: 100%;
}
.logo{
    width: 420px;
    height: 260px;
}
.logo img{
    margin: 10px 85px;
    width: 250px;
    height: 250px;
}
.body-input{
    margin: auto;
    width: 380px;
}
.input{
    margin: 16px 0px;
    border: 1px solid black;
    padding: 0px;
    height: 40px;
    display: flex;
}
.input img{
    margin: 5px;
    width: 30px;
    height: 30px;
}
.input input{
    margin: auto 10px auto 2px;
    width: 350px;
    height: 28px;
    border: none;
    font-size: 17px;
    outline: none;
}
.sub_btn{
    border: none;
    width: 380px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.sub_btn:focus{
    background-color: #343a40;
    color: white;
}
.footer{
    margin: 14px;
    text-align: center;
}
.footer a{
    color: black;
    text-decoration: underline;
    font-size: 15px;
}
.find-pw{
    margin: auto;
    width: 170px;
    display: flex;
}
.find-pw p{
    margin: 5px;
    font-size: 15px;
}
.find-pw a{
    margin: 5px;
    font-size: 15px;
}