*{
    margin: 0; padding: 0; box-sizing: border-box;
}
body{
    background-color: #f1f1f1;
}

header{

}
nav{
    width: 100%; height: 70px; background-color: black; position: fixed; line-height: 70px;
}
ul{
    display: flex; padding: 0 40px;
}
li{
   list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

main{
    display: flex
}

.wrap{
    margin: 0 auto;
}

.card{
    width: 600px; height: 600px; border-radius: 10px; margin-top: 120px; margin-left: auto; margin-right: auto;
    background-color: white;
}
.infoCard{
    width: 600px; height: 200px; border-radius: 10px; margin-top: 120px; margin-left: auto; margin-right: auto;
    background-color: white;
}

.c-head{
    display: flex; margin: 30px;
}
.name{
    line-height: 50px; color: blue; font-size: 20px;
}

.psa{
    width: 50px; height: 50px; border-radius: 50%; background-color: black;
}
.content{
    margin: 30px;
    padding-bottom: 300px;
}
#modal-container{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.3);
}
#modal{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.canvas{
    width: 700px;
    height: 700px;
    background-color: white;
    border-radius: 15px;
    box-shadow:  0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0);
}

.controls{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls .controls_btns{
    margin-bottom: 30px;
}

.controls_btns button{
    all: unset;
    cursor: pointer;
    background-color: white;
    padding: 5px 0px;
    width: 80px;
    text-align: center;
    border-radius: 10px;
    box-shadow:  0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}

.controls_btns button:active{
    transform: scale(0.98);
}

.controls .controls_colors{
    display: flex;
}

.controls_colors .controls_color{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow:  0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0);
    cursor: pointer;
}

.controls .controls_range{
    margin-bottom: 30px;

}

#file-input{
    overflow: hidden !important;
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
}

.recommend{
    display: flex;
    margin: 30px;
}

.rom{
    border-radius: 30px;
    border: 1px solid black; width: 420px;
}

ul{
    display: flex;
    margin-left: 400px;
}

li{
    list-style: none;

    font-size: 25px;
}
li a{
    padding: 0 100px;
}
a{
    text-decoration: none;color: white;
}